.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    width: 1240px;
    margin: auto;
    margin-bottom: 43px;
    
 
  }
  
  .banner-image {
    position: absolute;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    filter: brightness(50%)
    

    
    

  }

  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
   
  }
  
  .banner-text h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: white; 
    white-space: nowrap;
    
  }
  