.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  
  max-width: 1240px;
  margin: auto;
  margin-bottom: 43px;
}

  
.banner-image {
    position: absolute;
   max-width: 1240px;
    height: 223px;
    border-radius: 25px;
    filter: brightness(75%);
    object-fit: cover;
}
  
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
  
.banner-text h1 {
  
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* Espacement entre les lignes */
  color: white; 
  white-space: normal;
  flex-wrap: wrap; /* Permettre aux mots de se casser entre les lettres */
}

@media (max-width: 767px){
  .banner{
    max-width: 335px;
   
  }
}


  
  @media (max-width: 767px){ .banner-text h1 {
    margin: 1.5rem 0 0 1rem;
    font-size: 32px;
    max-width: 80%;
    text-align: left;
  }
}


