.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  width: auto;
  max-width: 100%;
  margin: auto;
  margin-bottom: 43px;
}

  
.banner-image {
    position: absolute;
   max-width: 100%;
    height: 223px;
    border-radius: 25px;
    filter: brightness(75%);
    object-fit: cover;
    width: auto;
}
  
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
  
.banner-text h1 {
  
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  line-height: 1.4; 
  color: white; 
  white-space: normal;
  flex-wrap: wrap;
}

@media (max-width: 1340px){ .banner {
  margin: auto 35px;
  margin-bottom: 43px;



}




}


  
  @media (max-width: 767px){ .banner-text h1 {
    
    font-size: 32px;
   
    text-align: left;
  }
}
@media (max-width: 500px){ .banner {
  height: 100px;
  
  margin: 80px 25px ;
}
}


