.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 25px;
  justify-items: center;
}

.card {
  max-width: 340px;
  height: 340px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.card:hover {
  transform: scale(1.04);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}

.card-content h3 {
  margin-bottom: 1px;
  color: white;
  width: fit-content;
  margin-left: 2px;
}

.container a {
  cursor: auto;
}
@media screen and (max-width: 950px){
  .container{
    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (max-width: 600px) {
  
  
  .container{
    background-color: white;
    grid-template-columns: repeat(1, 1fr);
  }
}
