.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1210px;
  height: auto;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 25px;

}

.card {
  width: 320px;
  height: 340px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 10px;
  overflow: hidden; 
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  

  
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
 
  

  
}
.card:hover {
  transform: scale(1.04);
}


.card-content {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: white; 
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)); 
}

.card-content h3 {
  margin-bottom: 1px;
  color: white;
 
  width: fit-content;
  margin-left: 2px;
}
.container a{

cursor: auto;
}



