.carrousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }
  
  .carrousel-image {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }
  
  .carrousel-nav {
    position: absolute;
    width: 1240px;
    display: flex;
    justify-content: space-between;
   
  }
  
  .carrousel-nav button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    
  }
  
  .carrousel-nav button:first-child {
    transform: rotate(90deg);
    width: 80px;
    height: 47px;
  }
  
  .carrousel-nav button:last-child {
    transform: rotate(270deg);
    width: 80px;
    height: 47px;
  }
  