.carrousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  max-width: 100%;
}

.carrousel-image {
  width: 100%;
  
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}

.carrousel-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrousel-nav__counter {
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
}


.carrousel-nav img {
  width: 58px;
  
}

.carrousel-counter-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}






.carrousel-nav button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.carrousel-nav button:first-child {
  transform: rotate(90deg);
  width: 192px;
  height: 65px;
}

.carrousel-nav button:last-child {
  transform: rotate(270deg);
  width: 192px;
  height: 65px;
}

@media screen and (max-width: 1300px) {
  .carrousel-image {
    width: 90%;
    height: 350px;
  }
  .carrousel-nav {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .carrousel-image {
    height: 255px;
  }
}
