.carrousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.carrousel-image {
  width: 100%;
  max-width: 1240px;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;

}

.carrousel-nav {
  position: absolute;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carrousel-nav img {
  width: 58px;
  
}

.carrousel-nav button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.carrousel-nav button:first-child {
  transform: rotate(90deg);
  width: 192px;
  height: 65px;
}

.carrousel-nav button:last-child {
  transform: rotate(270deg);
  width: 192px;
  height: 65px;
}
@media screen and (max-width: 1300px){
  .carrousel-image{
    width: 90%;
    height: 90%;
  }
  .carrousel-nav{
    width: 90%;
  }


}
@media screen and (max-width: 500px){

  .carrousel-image{
    height: 70%;
  }


}



