



.logement-container {
  display: flex;
    
  
    column-gap: 80px;
   
    margin-bottom: 320px;
    max-width: 1240px;
}




.collapse-container {
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
   
   
}


.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #FF6060;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  
  width: auto;
  height: 22px;
}

.rotate {
  transform: rotate(180deg);
}

.collapse-body {
  
  background-color:  #F7F7F7;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: max-content;
  
  
  
}

.collapse-body p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FF6060;
  line-height: 26px;
  padding: 20px 10px;
}
.collapse-body li{

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FF6060;
  list-style: none;
  line-height: 26px;
  
}
.collapse-body ul{
  padding: 20px 10px;
}
@media screen and (max-width: 1316px){.logement-container{
  margin: 20px;
  margin-bottom: 320px;
  display: block;
}

}

  