.about-collapse .collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  width: 90%;
  max-width: 1023px;
}

.about-page .collapse-body {
  width: 90%;
  max-width: 1023px;
}

.about-page .collapse-container {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1296px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 210px;
}
