.about-collapse .collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  max-width: 1096px;
  
}

.about-page .collapse-body {
  width: auto;
  max-width: 1076px;
  padding: 10px;
}

.about-page .collapse-container {
 
  
 
  max-width: 1096px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 35px;
  margin-bottom: 210px;
}
@media screen and (max-width: 1190px) {
  
}
