footer{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 209px;
    justify-content: center;





}
footer small{
    margin-top: 40px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;


}
@media screen and (max-width: 500px){
    footer small{
        font-size: 12px;



    }



}