header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  margin: 30px 211px;
  align-items: center;
  width: max-content;
  column-gap: 680px;
  
}

header img {
  width: auto;
  height: 68px;
  margin: 128px ;
  
 
}

.link {
  display: flex;
  color: #FF6060;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 500;
  align-items: flex-end;
  text-align: right;
  
  
}

nav ul {
  display: flex;
  padding: 21px;
  gap: 30px;
  list-style: none;
}

nav .link:hover {
  cursor: pointer;
  text-decoration: underline;
}



