header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  align-items: center;
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
}

header img {
  width: auto;
  height: 68px;
 
}

.link {
  display: flex;
  color: #FF6060;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 600;
  align-items: flex-end;
  text-align: right;
}

nav ul {
  display: flex;
  
  gap: 30px;
  list-style: none;
}

.link:hover,
.link.active {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 1300px){
  header{
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .linklogo {
    width: fit-content;
  }
  nav .link{
    gap: 0;
    font-size: 12px;
  }
  nav ul{
    
    text-transform: uppercase;
    gap: 10px;
  }
  header img{
    width: 134px;
    height: 46px;
  }
  header{
    
    padding: 0;
    justify-content: space-around;
   
  }
}
