.host {
    margin-top: 45px;
    height: 64px;
    display: flex;
  }
  
  .host img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 28px;
  }
  .host-name{
    margin-top: 40px;



  }
  
  .host-name span {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin-right: 18px;
    white-space: nowrap; 
  }
  
  .host-name span::before {
    content: "\A";
    white-space: pre; 
  }
  