.description{
    display: flex;
    width: 1365px;
    margin-left: 327px;
    justify-content: space-between;


}



.description h1 {
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    width: max-content;
    height: 13px;

}
.location{
    display: flex;
    justify-content: flex-start;
}
.location h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    width: max-content;
    margin-bottom: 25px;
    height: 13px;
    margin-left: 329px;

}
.tags-rating{

    display: flex;
    justify-content: space-between;
    width: max-content;


}
