.logement-description{
    display: flex;
    justify-content: space-between;
}




.description h1 {
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
   
   
    

}

.description h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
   
    margin-bottom: 25px;
   
    

}
@media screen and (max-width: 1297px){.logement-description{
    margin: 0 20px;
}}
@media screen and (max-width: 639px){
    .logement-description{
        display: block;
       




    }
    .host-rating{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }





}
    


