.logements-tags {
  display: flex;
    
    
    margin-bottom: 26px;
    
   
}
  
  
  .logements-tag {
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: 14px;
    margin-right: 10px;
    padding: 3px 17px;
   
    height: 16px;
    text-align: center;
    white-space: nowrap;
  }
  