.logements-tags {
  display: flex;
  margin-bottom: 32px;
  width: auto;
  max-width: max-content;
  flex-wrap: wrap;
  gap: 12px;
    
   
}
  
  
  .logements-tag {
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: 14px;
    
    padding: 3px 17px;
   
    height: 16px;
    text-align: center;
    white-space: nowrap;
  }
  